In [3]:
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

In [4]:
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [5]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [9]:
for types in high_school_types:
    print(types)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [10]:
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [13]:
import pandas as pd
school_series=pd.Series(high_schools)

In [17]:
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [23]:
for i in school_series:
        print(i)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [24]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [25]:
school_df=pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [26]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [32]:
schools_df2=pd.DataFrame()

In [33]:
# Add the list to a new DataFrame.
schools_df2["School ID"] = school_id

# Print the DataFrame.
schools_df2

   School ID
0          0
1          1
2          2
3          3
4          4

In [35]:
schools_df2["school_name"]=school_name
schools_df2["type of school"]=type_of_school

In [36]:
schools_df2

   School ID            school_name type of school
0          0      Huang High School       District
1          1   Figueroa High School       District
2          2    Shelton High School        Charter
3          3  Hernandez High School       District
4          4    Griffin High School        Charter

In [58]:
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

{'School ID': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14],
 'school_name': ['Huang High School',
  'Figueroa High School',
  'Shelton High School',
  'Hernandez High School',
  'Griffin High School',
  'Wilson High School',
  'Cabrera High School',
  'Bailey High School',
  'Holden High School',
  'Pena Hugh School',
  'Wright High School',
  'Rodriguez High School',
  'Johnson High School',
  'Ford High School',
  'Thomas High School'],
 'type': ['District', 'District', 'Charter', 'District', 'Charter']}

In [38]:
schools_df3=pd.DataFrame(high_schools_dict)

In [39]:
schools_df3

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [62]:
school_id=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]
school_name=["Huang High School","Figueroa High School","Shelton High School","Hernandez High School","Griffin High School","Wilson High School",
            "Cabrera High School","Bailey High School","Holden High School","Pena Hugh School", "Wright High School","Rodriguez High School","Johnson High School",
            "Ford High School", "Thomas High School"]
school_type=["District","Disctrict","Charter","District","Charter","Charter","Charter","District","Charter","Charter","Charter","District",
            "District","District","District"]

In [63]:
high_School={}

In [64]:
high_School={"School ID":school_id,"School_name":school_name,"Type":school_type}
high_School

{'School ID': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14],
 'School_name': ['Huang High School',
  'Figueroa High School',
  'Shelton High School',
  'Hernandez High School',
  'Griffin High School',
  'Wilson High School',
  'Cabrera High School',
  'Bailey High School',
  'Holden High School',
  'Pena Hugh School',
  'Wright High School',
  'Rodriguez High School',
  'Johnson High School',
  'Ford High School',
  'Thomas High School'],
 'Type': ['District',
  'Disctrict',
  'Charter',
  'District',
  'Charter',
  'Charter',
  'Charter',
  'District',
  'Charter',
  'Charter',
  'Charter',
  'District',
  'District',
  'District',
  'District']}

In [65]:
high_school_df=pd.DataFrame(high_School)

In [66]:
high_school_df

    School ID            School_name       Type
0           0      Huang High School   District
1           1   Figueroa High School  Disctrict
2           2    Shelton High School    Charter
3           3  Hernandez High School   District
4           4    Griffin High School    Charter
5           5     Wilson High School    Charter
6           6    Cabrera High School    Charter
7           7     Bailey High School   District
8           8     Holden High School    Charter
9           9       Pena Hugh School    Charter
10         10     Wright High School    Charter
11         11  Rodriguez High School   District
12         12    Johnson High School   District
13         13       Ford High School   District
14         14     Thomas High School   District

In [67]:
csv_file=pd.read_csv("Schools_complete.csv")

In [68]:
csv_file

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130