In [59]:
import pandas as pd
import os

In [60]:
file_to_load=os.path.join("Resources","students_complete.csv")
school_file=os.path.join("Resources","schools_complete.csv")
students_df=pd.read_csv(file_to_load)
schools_df=pd.read_csv(school_file)
schools_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [61]:
students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [62]:
students_data_complete=pd.merge(students_df,schools_df,on="school_name")

In [63]:
students_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [84]:
student_count=students_data_complete["reading_score"].count()

39170

In [108]:
total_schools=students_data_complete["school_name"].value_counts().count()

In [66]:
students_data_complete["budget"].sum()

82932329558

In [109]:
total_budget=students_data_complete["budget"].unique().sum()

In [68]:
average_math_score=students_data_complete["math_score"].mean()

In [78]:
average_reading_score=students_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [70]:
passing_math_count=passing_math.count()
passing_math_count
passing_reading_count=passing_reading.count()

In [71]:
students_data_complete[students_data_complete["math_score"] >=70].count()

Student ID       29370
student_name     29370
gender           29370
grade            29370
school_name      29370
reading_score    29370
math_score       29370
School ID        29370
type             29370
size             29370
budget           29370
dtype: int64

In [93]:
passing_math=students_data_complete[students_data_complete["math_score"] >=70]
passing_reading=students_data_complete[students_data_complete["reading_score"] >=70]
passing_math_count=passing_math["student_name"].count()
passing_reading_count=passing_reading["student_name"].count()

In [91]:
student_count
passing_math_count

29370

In [92]:
passing_math_percentage=passing_math_count/float(student_count)*100
passing_math_percentage

74.9808526933878

In [94]:
passing_reading_percentage=passing_reading_count/float(student_count)*100
passing_reading_percentage

85.80546336482001

In [95]:
passing_general=students_data_complete[(students_data_complete["math_score"]>=70) & (students_data_complete["reading_score"]>= 70)]

In [105]:
passing_count=passing_general["student_name"].count()
student_count

39170

In [107]:
passing_percentage=passing_count/(student_count)*100
passing_percentage

65.17232575950983

In [110]:
#creating a dictionary for a summary dataframe
district_summary_df=pd.DataFrame([{"Total Schools": total_schools,
                                  "Total Students": student_count,
                                  "Total Budget":total_budget,
                                  "Average Math Score":average_math_score,
                                  "Average Reading Score":average_reading_score,
                                  "% Passing Math":passing_math_percentage,
                                  "% Passing Reading":passing_reading_percentage,
                                  "% Overall Passing":passing_percentage}])

In [141]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,75,85.805463,65.172326

In [144]:
district_summary_df["Total Students"]

AttributeError: 'Series' object has no attribute 'int'

In [136]:
# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Students"]

ValueError: Cannot specify ',' with 's'.

In [129]:
# Format "Total Budget" to have the comma for a thousands separator, a decimal separator, and a "$".

district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df["Total Budget"]

ValueError: Unknown format code 'f' for object of type 'str'